 body {
     font: 82%/1.5 Verdana, Arial, Helvetica, sans-serif;
     padding: 20px 20px 50px 20px;
     margin: 0;
     color: #333;
 }

 h1 {
     font-size: 1.7em;
     color: #000;
 }

 h2 {
     font-size: 1.3em;
     margin-top: 3em;
 }

 /* Simple animation */
 @keyframes 'movimiento-diagonal' {
     from {
         left: 0;
         top: 0;
     }

     to {
         left: 100px;
         top: 100px;
     }
 }

 @-webkit-keyframes movimiento-diagonal {

     /*Safari and Chrome*/
     from {
         left: 0px;
         top: 0;
     }

     to {
         left: 150px;
         top: 50px;
     }
 }

 .a {
     animation-name: 'movimiento-diagonal';
     animation-duration: 5s;
     animation-iteration-count: 10;
     background: red;
     width: 50px;
     height: 50px;
     position: relative;
     /*Safari and Chrome*/
     -webkit-animation-name: movimiento-diagonal;
     -webkit-animation-duration: 3s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
 }

 /* Timing */
 .timing div {
     width: 100px;
     height: 50px;
     background: red;
     color: white;
     font-weight: bold;
     position: relative;
     animation: mymove 10s infinite;
     -webkit-animation: mymove 5s infinite;
     /*Safari and Chrome*/
 }

 #div1 {
     animation-timing-function: linear;
 }

 #div2 {
     animation-timing-function: ease;
 }

 #div3 {
     animation-timing-function: ease-in;
 }

 #div4 {
     animation-timing-function: ease-out;
 }

 #div5 {
     animation-timing-function: ease-in-out;
 }

 /*Safari and Chrome:*/
 #div1 {
     -webkit-animation-timing-function: linear;
 }

 #div2 {
     -webkit-animation-timing-function: ease;
 }

 #div3 {
     -webkit-animation-timing-function: ease-in;
 }

 #div4 {
     -webkit-animation-timing-function: ease-out;
 }

 #div5 {
     -webkit-animation-timing-function: ease-in-out;
 }

 @keyframes mymove {
     from {
         left: 0px;
     }

     to {
         left: 300px;
     }
 }

 @-webkit-keyframes mymove

 /*Safari and Chrome*/
     {
     from {
         left: 0px;
     }

     to {
         left: 300px;
     }
 }

 /* Interaction */
 @-webkit-keyframes resize {
     0% {
         padding: 0;
     }

     50% {
         padding: 0 20px;
         background-color: rgba(255, 0, 0, 0.2);
     }

     100% {
         padding: 0 100px;
         background-color: rgba(255, 0, 0, 0.9);
     }
 }

 @-moz-keyframes resize {
     0% {
         padding: 0;
     }

     50% {
         padding: 0 20px;
         background-color: rgba(255, 0, 0, 0.2);
     }

     100% {
         padding: 0 100px;
         background-color: rgba(255, 0, 0, 0.9);
     }
 }

 #interaction {
     height: 100px;
     width: 500px;
     margin: 0 auto;
 }

 #box {
     height: 50px;
     width: 50px;
     margin: 0 auto;
     border: 1px red solid;
     background-color: rgba(255, 0, 0, 0.7);
 }

 #interaction:hover #box {
     -webkit-animation-name: resize;
     -webkit-animation-duration: 1s;
     -webkit-animation-iteration-count: 4;
     -webkit-animation-direction: alternate;
     -moz-animation-name: resize;
     -moz-animation-duration: 1s;
     -moz-animation-iteration-count: 4;
     -moz-animation-direction: alternate;
 }

 /* Combinando... */
 @-webkit-keyframes pulse {
     0% {
         background-color: red;
         opacity: 1.0;
         -webkit-transform: scale(1.0) rotate(0deg);
     }

     33% {
         background-color: blue;
         opacity: 0.75;
         -webkit-transform: scale(1.1) rotate(-5deg);
     }

     67% {
         background-color: green;
         opacity: 0.5;
         -webkit-transform: scale(1.1) rotate(5deg);
     }

     100% {
         background-color: red;
         opacity: 1.0;
         -webkit-transform: scale(1.0) rotate(0deg);
     }
 }

 .combined div {
     -webkit-animation-name: pulse;
     -webkit-animation-duration: 4s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     background-color: red;
     width: 40%;
     padding: 0.5em 1em;
     margin: 6em;
     color: #fff;
     font-weight: bold;
     font-size: 1.2em;
     text-align: center;
     -webkit-border-radius: 10px;
 }